.loginContainer {
  display: flex;
  height: 100vh;
  background-color: lightgoldenrodyellow;
}

.formContainer {
  width: 35%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyRigth {
  align-items: baseline;
}

.inputEmail {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.inputSenha {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.imageContainer {
  width: 65%;
  background-image: url('./src/assets/img-login.jpeg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  /* Para telas menores (móveis): */
  .login-container {
    flex-direction: column;
  }
  .form-container,
  .image-container {
    width: 100%;
  }
}
